#libz-editor {
    border: dotted 1px black;
    height: 20em;
    overflow: scroll;
    border-radius: 5px;
}

#libz-editor > h5 {
    margin-left: 5px;
}
#libz-list {
    padding-inline-start: 0;
    margin: 5px;
}